<div id="map" style='width: 100%; height: 300px;'></div>

<script type="text/javascript">
    handler = Gmaps.build('Google');
    handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
        const markers = handler.addMarkers(<%=raw @coordinates.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
    });
</script>
