<div class="w-100 d-flex flex-column justify-content-center align-items-center">
  <div class="col-md-6 col-12">
    <h1 class="mt-5"><%= t('views.users.profile.editing_user') %></h1>

    <%= render "form", user: @user %>
    <div class="my-3">
      <%= link_to t('views.users.password.edit.title'), edit_user_registration_path %>
    </div>
  </div>
</div>
