<h1 class="my-5">События</h1>

<%= link_to 'Создать событие', new_event_path, class: 'btn btn-success' %>

<div id="events" , class="my-4 row row-cols-2 row-cols-lg-4">
  <% @events.each do |event| %>
    <%= render event %>
  <% end %>
</div>
