<h1>Новое событие</h1>

<div class="row">
  <div class="col-md-6 buffer-top">
    <%= render "form", event: @event %>
  </div>
</div>

<br>

<div class="container">
  <%= link_to "Вернуться к событиям", events_path, class: 'btn btn-outline-primary' %>
</div>
