<h1 class="mt-3 m3"><%= t 'views.events.new.title'  %></h1>

<div class="row">
  <div class="col-md-6 buffer-top">
    <%= render "form", event: @event %>
  </div>
</div>

<br>

<div class="container">
  <%= link_to t('views.buttons.back_to_events'), events_path, class: 'btn btn-outline-primary' %>
</div>
