<div class="event-photo mb-3 me-2">
  <% image_info = "#{render partial: 'photos/image_info', locals: { photo: photo }}" %>
  <%= link_to image_tag(photo.photo.thumb.url), photo.photo.url,
              data: { lightbox: 'image', title: image_info} %>
</div>
